<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo-list</title>
  <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
  <h1>TO DO LIST</h1>
  <button id="theme-toggle" class="theme-toggle">🌙 Dark Mode</button>
  <div class="todo-input-grid">
    <form action="/?sort=<%= currentSort %>" method="post" class="form-container">
      <div></div>
      <input type="text" name="taskName" id="" placeholder="Todo Name" class="js-name-input name-input">
      <input type="date" name="dueDate" class="js-due-date-input due-date-input">
      <input type="time" name="dueTime" class="js-due-time-input due-time-input">
      <select name="priority" class="priority-select">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      </select>
      <button type="submit" class="add-todo-button js-add-todo-button">Add</button>
      <div class="filter-container">
        <label for="filter">Sort by:</label>
        <select id="filter" class="filter-select">
          <option value="time" <%=currentSort==="time" ? "selected" : "" %>>Time</option>
          <option value="priority" <%=currentSort==="priority" ? "selected" : "" %>>Priority</option>
        </select>
      </div>

    </form>
    <br>
    <br>
    <div class="todo-grid">
      <% taskList.forEach((task,index)=> { %>
        <div class="todo-item">
          <input type="checkbox" class="task-checkbox" <% if (task.done) { %> checked <% } %> data-index="<%= index %>">
              <div class="task-name">
                <%= task.taskName %>
              </div>
              <div class="task-date">
                <%= task.dueDate %>
              </div>
              <div class="task-status" data-due-date="<%= task.dueDate %>" data-due-time="<%= task.dueTime %>">
                Loading...</div>
              <div class="task-priority <%= task.priority.toLowerCase() %>">
                <%= task.priority %>
              </div>
              <form action="/delete/<%= index %>" method="get" style="display:inline;">
                <input type="hidden" name="sort" value="<%= currentSort %>">
                <button type="submit" class="delete-todo-button">Delete</button>
              </form>

        </div>
        <% }) %>
    </div>
    <script src="/scripts/theme.js"></script>
    <script src="/scripts/time.js"></script>
    <script src="/scripts/localStorageTasks.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const filterSelect = document.getElementById("filter");

        filterSelect.addEventListener("change", () => {
          const value = filterSelect.value;
          window.location.href = "/?sort=" + value;
        });
      });
    </script>

</body>

</html>